---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<h2>Publications</h2>
<ol style="font-size: 14px; line-height: 1.4;">
{% for post in site.publications reversed %}
  {% if post.status == "peer-reviewed" %}
    <li>
      {{ post.citation }}
      {% if post.paperurl %}
        – <a href="{{ post.paperurl }}" target="_blank">paper</a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ol>

<h2>Preprints</h2>
<ol start="{{ site.publications | where: 'status', 'peer-reviewed' | size | plus: 1 }}"
    style="font-size: 14px; line-height: 1.4;">
{% for post in site.publications reversed %}
  {% if post.status == "under-review" %}
    <li>
      {{ post.citation }}
      {% if post.paperurl %}
        – <a href="{{ post.paperurl }}" target="_blank">paper</a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ol>

<h2>Presentations</h2>
<ol style="font-size: 14px; line-height: 1.4;">
{% for post in site.publications reversed %}
  {% if post.status == "presentations" %}
    <li>
      {{ post.citation }}
      {% if post.paperurl %}
        – <a href="{{ post.paperurl }}" target="_blank">paper</a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ol>
