---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<h2>Peer-reviewed</h2>
<ul style="font-size: 14px; line-height: 1.4;">
{% for post in site.publications reversed %}
  {% if post.status == "peer-reviewed" %}
    <li>
      {{ post.citation }}
      {% if post.paperurl %}
        – <a href="{{ post.paperurl }}" target="_blank">paper</a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>

<h2>Under review</h2>
<ul style="font-size: 14px; line-height: 1.4;">
{% for post in site.publications reversed %}
  {% if post.status == "under-review" %}
    <li>
      {{ post.citation }}
      {% if post.paperurl %}
        – <a href="{{ post.paperurl }}" target="_blank">paper</a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>

<h2>Presentations</h2>
<ul style="font-size: 14px; line-height: 1.4;">
{% for post in site.publications reversed %}
  {% if post.status == "presentations" %}
    <li>
      {{ post.citation }}
      {% if post.paperurl %}
        – <a href="{{ post.paperurl }}" target="_blank">paper</a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>
